/* common css */
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul,
ol{
    list-style: none;
    margin: 0;
    padding: 0;
}
p{
    margin-bottom: 0;
}
body{
    background: #083045;
    scroll-behavior: smooth;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
/* common css */

/* navbar css start */

.navbar{
    padding-top: 40px !important;
    padding: 0;   
}


.navbar .navbar-item{
    display: flex;
}
.navbar .navbar-item .logo{
    margin-top: 10px;
}
.navbar .navbar-brand{
    color : #fff;
    font-size: 48px;
    font-family: 'Inria Serif', serif;
    font-weight: 500;
    padding: 16px 0;
}
.navbar-collapse{
    width: 995px;
    background: #fff;
    margin: 0 -116px 0 100px;
    border-radius: 10px 0 0 10px;
}


.navbar ul{
    background: #fff;
    padding: 25px 15px 25px 20px;
    margin-bottom: 0;
    border-radius: 10px 0 0 10px;
}
.navbar ul li{
    display: inline-block;
    margin-right: 20px;

}
.navbar ul li a{
    font-size: 16px;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    color : #083045;
    transition: .3s;
}
.navbar ul li a:hover{
    color :#083045;
    font-weight: 600;
    cursor: pointer;
}

.navbar .nav-link{
    font-size: 16px;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    color : #083045 !important;
    transition: .3s;
}
.navbar-nav .nav-link.active{
    font-weight: 600;
}
.navbar .icon .icons{
    display: flex;
    align-items: center;
    gap: 30px;
    border-radius: 0;
}
.navbar .icon .icons li{
    margin: 0;
}



.navbar .icon .icons .cart{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    border-radius: 10px;
    background:  #BDA068; 
    position: relative;
}
.navbar .icon .icons .cart a{
    color:#083045;
    font-size: 16px;
    display: flex;
    gap: 10px;
    font-weight: 500;

}
.navbar .icon .icons .cart .circle{
    height: 20px;
    width: 20px;
    background: red;
    position: absolute;
    top: -8px;
    right: 0;
    border-radius: 50%;
}
.navbar .icon .icons .cart p{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


/* navbar style end */


/* top part css start */

#top-part{
    padding: 100px 0;
}
#top-part .menubar{
    border-radius: 8px;
    background:  #042333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
#top-part .menubar .left .shop{
    color: #FFF;
    font-family: Outfit;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
}
#top-part .menubar .menu ul{
    display: flex;
    gap: 10px;
}
#top-part .menubar .menu ul li a{
    color: #fff;
    font-family: Outfit;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}
#top-part .menubar .menu ul li p{
    color: #fff;
    font-family: Outfit;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

/* top part css end */

#input-part {
    margin-bottom: 100px;
}
#input-part .click{
    display: flex;
    background: #042333;
    padding: 20px 20px 25px 20px;
    border-radius: 10px;
    margin-bottom: 20px;

}
#input-part .click p i{
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
}
#input-part .click span{
    color:  #BDA068;
    font-family: Outfit;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding-right: 5px;
    
}
#input-part .click a{
    color:  #fff;
    font-family: Outfit;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    transition: .3s;
}
#input-part .click a:hover{
    text-decoration: underline;
}


#input-part .billing-details p{
    color:  #FFF;
    text-align: center;
    font-family: Outfit;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 50px 0;
    text-align: left;
}
#input-part form p{
    color: #FFF;
    font-family: Outfit;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    padding: 5px 0;
}
#input-part form p span{
    color: #F86565;
    font-family: Outfit;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}


#input-part form input{
    padding: 23px 20px 23px 20px;
    border: 1px solid #BDA068;
    background: transparent;
    border-radius: 10px;
    margin-bottom: 20px;
    outline: none;
    color: #fff;
    font-family: Outfit;
    font-size: 16px;
}
#input-part form .form-group{
    display: flex;
    gap: 20px;
}
#input-part form .form-group .input-field{
    width: 50%;
}
#input-part form .form-group input{
    width: 100%;    
}

#input-part form .input-field{
    width: 100%;
}
#input-part form .input-field input{
    width: 100%;
}

#input-part form .check-box{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}
#input-part form .check-box input{
    width: 20px;
    height: 20px;
    border: 1px solid #BDA068;
    border-radius: 10px;
    margin-bottom: 0;
    background: transparent;
}
#input-part form .check-box label{
    color: #FFF;
    font-family: Outfit;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

#input-part .order{
    border: 1px solid #BDA068;
    border-radius: 10px;
    padding: 20px;
    margin-top: 50px;
    margin-left: 25px;
}

#input-part .order .title{
    color:  #FFF;
    text-align: center;
    font-family: Outfit;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    padding-bottom: 60px;
}
#input-part .order .products{
    margin-bottom: 60px;
}
#input-part .order .products .product{
    color: #FFF;
    font-family: Outfit;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    padding-bottom: 20px;
    border-bottom: 1px solid #BDA068;
    margin-bottom: 20px;
}

#input-part .order .products .quantitys{
    border-bottom: 1px solid #BDA068;
}
#input-part .order .products .quantity{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
#input-part .order .products .quantity .title{
    width: 250px;
    text-align: left;
}
#input-part .order .products .quantity p{
    color: #FFF;
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; 
    padding: 0 5px;
}
#input-part .order .products .quantity .quan{
    width: 40px;
}
#input-part .order .products .quantity .price{
    width: 60px;
}

#input-part .order .products .subtotal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #BDA068;
    padding: 20px 0;

}
#input-part .order .products .subtotal p{
    color: #FFF;
    font-family: Outfit;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#input-part .order .products .shipping{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #BDA068;
    padding: 20px 0;
}
#input-part .order .products .shipping p{
    color: #FFF;
    font-family: Outfit;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#input-part .order .products .total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #BDA068;
    padding: 20px 0;

}
#input-part .order .products .total p{
    color: #FFF;
    font-family: Outfit;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#input-part .order .payment p{
    color: #FFF;
    font-family: Outfit;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}

#input-part .order .payment .payment-method{
    padding: 20px 20px 40px 40px;
    border-bottom: 1px solid #BDA068;
    margin-bottom: 40px;
}

#input-part .order .payment .payment-method ul{
    display: flex;
    gap: 10px;
    align-items: center;
}
#input-part .order .payment .payment-method ul li{
    color: #FFF;
    font-family: Outfit;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
}
#input-part .order .payment .payment-method ul .dot{
    width: 18px;
    height: 18px;
    border: 1px solid #fff;
    border-radius: 50%;
    position: relative;    
}
#input-part .order .payment .payment-method ul .dot p{
    width: 10px;
    height: 10px;
    background: #BDA068;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
}
#input-part .order .payment .payment-method .desc{
    color: rgba(255, 255, 255, 0.90);
    font-family: Outfit;
    font-size: 18px;
    font-style: normal;
    padding: 20px 0;
    font-weight: 400;
    line-height: 24px;
}
#input-part .order .payment .payment-method .check-box{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
#input-part .order .payment .payment-method .check-box input{
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-right: 20px;
}
#input-part .order .payment .payment-method .check-box label {
    color:  #FFF;
    font-family: Outfit;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}
#input-part .order button{
    color: #083045;
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    background: #BDA068;
    border: none;
    padding: 15px 40px;
    border-radius: 10px;
}






/* common css */



/* contact style start */

#contact{
    background: #042333;
    padding: 100px 0;
    color : #fff;
}

#contact .left .logo{
    color: #FFF;
    font-family: Inria Serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
}
#contact .left .desc{
    width: 305px;
    color:rgba(255, 255, 255, 0.90);
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; 
    padding: 20px 0;
}
#contact .left .number{
    color: rgba(255, 255, 255, 0.90);
    font-family: Outfit;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
    padding-bottom: 20px;
}

#contact .social ul{
    display: flex;
    gap: 20px;
    padding-left: 0;
    margin-bottom: 0;
}
#contact .social ul li{
    width: 40px;
    height: 40px;
    background: #BDA068;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}
#contact .social ul li a{
    color : #042333;
    font-size: 18px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: .3s;
    
}

#contact .social ul li:hover a{
    color: #fff;
}

#contact .middle{
    display: flex;
    gap: 100px;
    padding: 0 20px;
}
#contact .middle ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    padding-left: 0;
}
#contact .middle ul li{
    margin-bottom: 10px;
}
#contact .middle ul li a{
    color: #FFF;
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    transition: .3s;
}
#contact .middle ul li:hover a{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

#contact .right .newsletter{
    color: #FFF;
    font-family: Outfit;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
}
#contact .right .desc{
    color:  rgba(255, 255, 255, 0.90);
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; 
    padding: 20px 0;
}
#contact .right .input-field{
    position: relative;
}
#contact .right input{
    height: 50px;
    width: 100%;
    padding: 15px;
    background: transparent;
    border: 1px solid #BDA068;
    color : #fff;
    border-radius: 25px;
    outline: none;
    position: relative;
    transition: .3s;
}
#contact .right input:hover{
    border-radius: 5px;
}
#contact .right button{
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    border: none;
    background: #BDA068;
    border-radius: 50%; 
    transition: .3s;
}
#contact .right button:hover{
    background: #e0ceab;
}
#contact .right button i{
    padding: 13px;
    transition: .3s;
}
#contact .right button:hover i{
    padding: 11px;
}



/* contact style end */


/* footer style start */

#footer .footer-text{
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer .footer-text .text{
    color: rgba(255, 255, 255, 0.90);
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; 
    margin-bottom: 0;
    padding: 20px 0;
}

/* footer style end */
